# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv*
venv/
.venv/
env/
ENV/

# Environment variables / secrets
.env
.env.*

# VS Code settings
.vscode/

# Mac & Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# PyInstaller
build/
dist/
*.spec

# Docker related
*.pid
*.seed
docker-compose.override.yml
*.log
